.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.authGroup {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.summary_error {
    color: red;
}