.nav {
    grid-area: nav;
    background-color: #4B3B47;
    padding: 20px;


}

.item {
    color: white;
    text-decoration: none;
}
.item :hover {
    color: #9C9990;
}

.item .active {
 color: #9C9990;
}

.friends {
    font-size: 25px;
    margin-top: 15px;
    color: white;
    text-decoration: none;
}


.friends .active {
    color: #9C9990;
}
.friendsList {
    font-size: 10px;
    padding-left: 5px;
}