.dialogs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.dialogsItems {
    margin-right: 100px;
    padding: 20px;


}

.dialogsItems .active {


}

.dialog {
    text-decoration: none;
    color: white;

}

.dialog .active {
    color: #9C9990;
}


.dialogsMessages {
    padding: 20px;
    border-style: solid;
}

.dialogsMessage {

}

.img {
    padding-right: 10px;
    margin-bottom: 5px;
    width: 25px;
}

.friends {
    display: flex;
}